@model WebAppChernyavskiy.ViewModels.Collections.CollectionListViewModel

@{
    ViewData["Title"] = "Список коллекций";
}

<h1 style="text-align: center">Список коллекций</h1>

<link rel="stylesheet" href="~/css/collectionListStyle.css" />
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Имя: </label>
        <input name="name" class="form-control" />

        <label class="control-label">Тема: </label>
        <select name="topic" asp-items="Model.Topics" class="form-control"></select>

        <input type="submit" value="Поиск" class="btn btn-outline-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Название коллекции
            </th>
            <th>
                Тема
            </th>
            <th></th>
            <th>
                <a id="createColl" asp-action="CreateCollection" class="btn btn-primary">
                    Создать новую коллекцию
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Collections) {
    if (item.UserId == User.Identity.Name) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                <a asp-action="CollectionInfo" asp-route-id="@item.Id" class="btn btn-warning">
                    Управление коллекцией
                </a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
