@model WebAppChernyavskiy.Models.Collections.Collection

@{
    ViewData["Title"] = "Редактирование коллекции";
}

<h1>Редактирование коллекции</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Text" class="form-control" type="hidden" value="@Model.Text" />
            </div>
            <div class="form-group">
                <input asp-for="TopicId" class="form-control" type="hidden" value="@Model.TopicId" />
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden" value="@Model.UserId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Применить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


