@model WebAppChernyavskiy.ViewModels.Collections.CollectionListViewModel

@{
    ViewData["Title"] = "Главная страница";
}
<link rel="stylesheet" href="~/css/indexStyle.css" />


<div style="background-color: #f5f5f5; text-align: center" class="jumbotron">
    <h1>Привет пользователь</h1>
    <h3>На сайте ты можешь создать свою коллекцию или посмотреть коллекции других пользователей </h3>
</div>

<h1 style="text-align:center">Последние добавленные коллекции пользователей</h1>
<br />
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Название коллекции: </label>
        <input name="name" class="form-control" />

        <label class="control-label">Тема: </label>
        <select name="topic" asp-items="Model.Topics" class="form-control"></select>

        <input type="submit" value="Поиск" class="btn btn-outline-primary" />
    </div>
</form>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название коллекции
                </th>
                <th>
                    Тема
                </th>
                <th>
                    Email создателя
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collections) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            <a asp-action="CollectionInfo" asp-route-id="@item.Id" class="btn btn-outline-success">
                                Просмотреть
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
